.btn-full {
	width: 100%;
}
.btn-basic {
	font-size: 0.85rem;
	text-transform: uppercase;
	border-radius: 2px;
	margin: 0 0 0 1rem;
	background-color: $green;
	color: #fff;
	a {
		color: #fff !important;
		i {
			color: inherit;
		}
	}
	&:hover {
		background-color: darken($green, 10);
		color: #fff;
		a {
			color: #fff;
			i {
				color: #fff;
			}
		}
	}
}
