.footer {
	padding: 1rem 0;
	font-size: 1rem;
	h3 {
		color: $text-color-a;
	}
	.icon-logo {
		max-height: 20px;
    }
    &-text {
        color: #ffffff;
        line-height: 1.1rem;
        text-align: center;
        a {
            color: #ffffff;
            text-decoration: underline;
        }
    }
}

.social-contact {
    a i {
      margin: 1rem; 
      color: $text-color-a;
      &:hover{
        color: $primary;
      }     
    }
  }
