// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
 html {
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $red;
  text-decoration: none;
}

img{
  max-width: 100%;
}

.wrapper-col-2{
  display: flex;
  
  .item{
    max-width: 50%;
    img{
      max-width: 100%;
    }
  }
}

.wrapper-col-4{
  display: flex;
  flex-wrap: wrap;
  .item{
    width: calc( 100% / 3);
    overflow: hidden;
    img{
      max-width: 100%;
    }
  }
}

.bg-light-blue{
  background-color: $light-blue;
  height: 100%;
}

.bg-lighter-blue{
  background-color: $lighter-blue;
}

.bg-blue{
  background-color: $blue;
}

.bg-green{
  background-color: $green;
}

.bg-light-green{
  background-color: $light-green;
  height: 100%;
}

.fade-in{
  
}